<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <img class="profile-pic" src="/img/photo.jpg" alt="me">
      <h2>About me</h2>
      <p>I have always loved to learn languages and solve puzzles. This lead first to my graduation from Oriental Studies at Uni, second, combined with fascination about technology and science, to become a Web Developer. After all, JavaScript is just another language for me, like Russian or Norwegian, with that difference, that now it enables me to do the job I love!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>My sweet sets of skills</h2>
      <p>I know <em>nothing</em></p>
      <img width="100px" height="100px" src="/img/javascript.png">
      <img width="100px" height="100px" src="/img/css3.png">
      <img width="100px" height="100px" src="/img/HTML5_Logo_512.png">
    </div>
  </div>
</section>
