<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About me</h2>
      <img class="profile-pic" src="/img/photo.jpg" alt="me">
      <h4>Who am I?</h4>
      <p class="about">Having loved languages and puzzles throughout my life, I have spent over five years in the hospitality industry, which is not really reflecting my interests, nor passions. I decided to change my career for something that I truly love and this is how I found coding. After all, writing a good piece of code is like puzzles, putting all those small parts into a bigger piece that works. JavaScript is just another foreign language for me, but now I can speak to computers, how cool is that?
      </p>
      <p class="about">I decided to embark on my coding journey with the Web Development Immersive at GA and totally loved every minute of it. Every day learning something new, building real life apps, taught me how to approach big problems and solve them in small steps.
        After the best 12 weeks of my life I am now hungry for more - I would love to pursue my career as a Full Stack Developer and learn new technologies every day.
      </p>
      <h4>Fun facts about me</h4>
      <p class="about">When not coding, I am a full time geography geek - I love all coun- try facts,  ags, maps, and capitals. This will sound a bit trivial, but... this means that I also love travel- ling, especially to places where you have nice hiking spots!</p>
      <p class="about">I am a cat person, proud cat mom of a 11 year old, Sausage the one eyed cat. For all dogs lovers - I love dogs too!</p>
      <p class="about">Believe it or not,but I love jigsaw puzzles. The bigger, the better. Only my living room’s size is the limit.</p>
    </div>
  </div>
  <hr class="line">
</section>
