<section id="skills" class="container content-section text-center">
  <div class="row skills-row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Skills</h2>
      <p><em>Technologies I have used</em></p>
      <div>
        <img class="icon-skills" width="100px" height="100px" src="/img/js.png" title="JavaScript">
        <img class="icon-skills" width="100px" height="100px" src="/img/css3.png" title="CSS3">
        <img class="icon-skills" width="100px" height="100px" src="/img/html5.png" title="HTML5">
        <img class="icon-skills" width="100px" height="100px" src="/img/angular.png" title="AngularJS">
        <img class="icon-skills" width="100px" height="100px" src="/img/atom.png" title="Atom">
        <img class="icon-skills" width="100px" height="100px" src="/img/bootstrap.png" title="Bootstrap">
        <img class="icon-skills" width="100px" src="/img/express.png" title="Express.js">
        <img class="icon-skills" width="100px" height="100px" src="/img/git.png" title="Git">
        <img class="icon-skills" width="100px" height="100px" src="/img/github.png" title="Github">
        <img class="icon-skills" width="100px" height="100px" src="/img/gulp.png" title="Gulp">
        <img class="icon-skills" width="100px" height="100px" src="/img/jquery.png" title="jQuery">
        <img class="icon-skills" width="100px" height="100px" src="/img/mocha.png" title="Mocha">
        <img class="icon-skills" width="100px" height="100px" src="/img/mongodb.png" title="MongoDB">
        <img class="icon-skills" width="100px" src="/img/node.png" title="Node.js">
        <img class="icon-skills" width="100px" height="100px" src="/img/postgresql.png" title="PostgreSQL">
        <img class="icon-skills" width="100px" height="100px" src="/img/rails.png" title="Ruby on Rails">
        <img class="icon-skills" width="100px" height="100px" src="/img/ruby.png" title="Ruby">
        <img class="icon-skills" width="100px" height="100px" src="/img/sass.png" title="SASS">
        <img class="icon-skills" width="100px" height="100px" src="/img/ui-bootstrap.png" title="UI-Bootstrap">
      </div>
    </div>
  </div>
  <hr class="line">
</section>
